<h1>Update Pet</h1>

<form class="" action="/pets/<%=@pets.id%>" method="post">
  <input type="hidden" name="_method" value="hidden">
  <br></br>
  <label>Name:</label>
  <input type="text" name="pet[name]" value="<%=@pet.name%>">


</form>
